{{!-- <link rel="stylesheet" href="/css/auth.css"> --}}
<link rel="stylesheet" href="/css/postAuth.css">
<link rel="stylesheet" href="/css/ex.css">
<link rel="stylesheet" href="/css/Post.css">

<div class="main d-flex">
    {{> adminSidebar}}
    <div class="bg-white no-scroll container3 px-3 py-1">
        <div class="postAuth">
            <form style="margin-top: 0px;" action="/admin/add" id="add-post-form" method="POST">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" name="title" id="postTitle">
                    <span id="post-title-error">Message</span>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" id="">
                        <option value="sports">Sports</option>
                        <option value="botany">Botany</option>
                        <option value="politics">Politics</option>
                        <option value="civil">Civil</option>
                        <option value="other">Others</option>
                    </select>
                </div>
                <div class="form-group" id="addInput">
                    <div>
                        <button onclick="addInput()" type="button">+</button>
                        <button onclick="deleteInput()" type="button">-</button>
                        <label for="">Tags</label>
                    </div>

                </div>
                <div class="form-group">
                    <input type="hidden" value="as" name="hiddenMarkup" id="hiddenMarkup">
                    <input type="hidden" value="as" name="hiddenMarkup2" id="hiddenMarkup2">
                    <input type="hidden" name="tags" id="tagsArray">
                    <div id="toolbar">
                        <button type="button" id="bold" onclick="makeBold()">
                            <i class="fas fa-bold"></i></button>
                        <button type="button" id="italic" onclick="makeItalic()">
                            <i class="fas fa-italic"></i>
                        </button>
                        <!-- <button id="underline" onclick="doUnderline()">
    Underline
  </button> -->
                        <button type="button" id="increase" onclick="dopp()">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="button" id="decrease" onclick="dop2()">
                            <i class="fas fa-minus"></i>
                        </button>

                        <button type="button" onclick="justifyLeft()"><i class="fas fa-align-left"></i></button>
                        <button type="button" onclick="justifyCenter()"><i class="fas fa-align-center"></i></button>
                        <button type="button" onclick="justifyRight()"><i class="fas fa-align-right"></i></button>

                        {{!-- <button type="button" onclick="doAddImage()"><i class="far fa-images"></i></button> --}}

                        <button type="button" onclick="doSetTextColor()"><i class="fas fa-brush"></i></button>
                    </div>
                    <div id="editor" contenteditable="true"></div>
                    {{!-- <span id="post-content-error">Message</span> --}}
                </div>
                <div class="form-group">
                    <button type="submit">Add Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/validate/validators.js"></script>
<script src="/js/validate/addPost.js"></script>
<script src="/js/rich/rich.js"></script>