<link rel="stylesheet" href="/css/recommend.css">
<div class="wrapper4">
    <h4 style="font-weight: bold;">Related Posts</h4>
    {{#each recommended}}
    <li><a href="/fullpost/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
</div>