<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/ex.css">
<div class="signup-page">
    <div class="signup-form">
        <div class="form-block">
            <form id="oauth-form" action="/oauth/email/facebook" method="POST">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>