<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/ex.css">

<div class="signup-page">
    <div class="signup-form">
        <div class="form-block">
            <div class="form-group header">
                <h2 style="font-weight: bolder;">Create a new Account</h2>
            </div>
            <div class="form-group">
                <div class="social-login">
                    <a href="/auth/google">Signup via <i class="fab fa-google"></i></a>
                    <a href="/auth/facebook">Signup via <i class="fab fa-facebook"></i></a>
                    <a href="/auth/linkedin">Signup via <i class="fab fa-linkedin-in"></i></a>
                    <a href="/auth/twitter">Signup via <i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="form-group">
                <p style="text-align: center; color:grey;">- OR -</p>
            </div>
            <form id="signup-form" action="/signup" method="POST">
                {{#if errorMessage}}
                <div class="form-group">
                    <p class="error">{{errorMessage}}</p>
                </div>
                {{/if}}
                <div class="form-group">
                    <label for="">Name</label>
                    <input placeholder="Your Name" id="signupName" name="name">
                    <span id="signup-name-error">Message</span>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input placeholder="deanambrows@gmail.com" id="signupEmail" name="email" type="email">
                    <span id="signup-email-error">Message</span>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input id="signupPassword" name="password" placeholder="Enter password" type="password">
                    <span id="signup-password-error">Message</span>
                </div>
                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input name="confirmPassword" id="confirmSignupPassword" placeholder="Enter confirm password"
                        type="password">
                    <span id="signup-confirmPassword-error">Message</span>
                </div>
                <div class="form-group button submit-button">
                    <button type="submit">Create Account</button>
                </div>
                <div class="form-group ">
                    <p style="color: grey; text-align: center;">Already had an account ? <strong><a
                                href="/login">Login</a></strong></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/validate/validators.js"></script>
<script src="/js/validate/signup.js"></script>