@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

button {
  border-radius: 3px;
  text-align: center;
  background: #000;
  color: #fff;
  border: none;
}

body {
  background-color: #a4b0bd;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
#wrapperDiv {
  /* position: sticky; */
  top: 0;
  z-index: 100000;
}

#mobile {
  display: none;
}
h2 {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 14px;
  text-align: start !important;
  color: black;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none !important;
  color: black;
}
.navBTN {
  background: none;
  border: none;
  cursor: pointer;
}
.SidebarLogoutBTN {
  color: black;
  background: none;
  text-align: left;
  border-radius: 4px;
}
.SidebarLogoutBTN:hover {
  color: #fff;
  background: #333;
  border: none;
}
.sidebar-wrapper {
  background-color: rgb(255, 245, 233);
  height: 100%;
}

.sidebar-category-tab {
  /* margin: 10px; */
}
.card {
  background-color: rgb(255, 255, 255);
  width: 18rem !important;
}
.card-body {
  padding: 8px;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 13px;
}
.card p {
  font-weight: 300;
}
.container-header {
  border-bottom: 2px solid #000;
}
.container-header a {
  color: white;
}
.main {
  height: 100vh;
  display: flex;
  align-items: stretch;
}
.container1 {
  width: 270px;
  height: 100%;
  /* border-bottom: 1px solid black; */
  background-color: rgb(255, 245, 233) !important;
}
.container2 {
  /* border-left: 2px solid black; */
  width: 85% !important;
  height: 100%;
  overflow-y: auto;
}
.wrapperDiv2 {
  height: 100vh;
}
.wrapperDiv2 h2 {
  /* padding-left: 10px; */
  margin-left: 13px;
}
.heading {
  font-size: 2rem;
}

.relativeDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#video-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel {
  background: #fff;
  width: 100%;
  height: 240px;
}

.carousel-cell {
  width: 28%;
  /* height: 200px; */
  margin-right: 12px;
  background: rgb(199, 123, 186);
  background: none;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #fff;
}
.container3 {
  width: 100%;
  /* height: 100%; */
  overflow: scroll;
}

.no-scroll {
  overflow: hidden;
}
.container3::-webkit-scrollbar {
  display: none;
}
.sidebar::-webkit-scrollbar {
  /* display: none; */
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: rgb(5, 128, 165);
  border-radius: 9px;
}

.sidebar {
  overflow: scroll;
  /* background-color: aliceblue !important; */
  height: 100%;
  position: sticky;
  left: 0;
  top: 56px;
}

.sidebar li {
  color: grey;
  list-style: none;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}
.sidebar a {
  color: grey;
}
.sidebar a:hover,
.sidebar a.active {
  color: black;
}
.sidebar h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1285px) {
  .wrapperDiv3 {
    margin-left: 40px !important;
    /* margin-right: 20px !important; */
  }
  .wrapper4 {
    width: 240px !important;
  }
}
@media (max-width: 964px) {
  .wrapper4 {
    display: none !important;
  }
  .wrapperDiv3 {
    width: 80% !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
}

@media (max-width: 500px) {
  /* .card {
    width: 80% !important;
  } */

  .container1 {
    display: none;
    width: 0;
  }
  .container2 {
    width: 100%;
    border: none;
    margin-left: 30px;
  }
  .wrapper4 {
    display: none;
  }
  .wrapperDiv3 {
    width: 90% !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
  .wrapperDiv3 .post {
    font-size: 13px;
  }
  .wrapperDiv3 .profile-pic {
    font-size: 10px;
    height: fit-content;
    /* margin-top: 50px; */
    text-align: center;
  }
  .wrapperDiv3 .profile-pic img {
    /* width: 35px !important;
    height: 30px; */
  }

  .navbar {
    display: none;
  }
}
