.adminPosts {
  margin-top: 30px;
}

.adminPosts .post {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}
.ex {
  margin: auto;
  width: 90%;
  margin-top: 10px;
}
.ex .post {
  justify-content: start;
}
.ex p {
  margin-right: 30px;
}
.profile-pic {
  width: 40px !important;
}

.profile-pic img {
  border-style: none;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.adminPosts .post div {
  width: 15%;
}
.adminPosts .post .post-title {
  width: 70%;
  margin-left: 20px;
}
.adminPosts .post p {
  /* margin-left: 20px; */
}
.adminPosts .title {
  /* background-color: red; */
}
.sokial {
  justify-content: space-around;
}

.adminPosts .post a {
  color: blue;
}

/* add Post form */
.postAuth {
  width: 90%;
  margin: auto;
}

.postAuth form {
  margin-top: 0px;
}

.postAuth form .form-group {
  width: 100%;
  margin-bottom: 20px;
}

.postAuth form .form-group input,
.postAuth form .form-group textarea,
.postAuth form .form-group select {
  display: block;
  width: 80%;
}
.postAuth button {
  border-radius: 3px;
  text-align: center;
  background: #000;
  color: #fff;
  border: none;
}

.wrapperDiv3 {
  width: 60%;
  margin-left: 80px;
  margin-right: 50px;
  height: 80%;
}

.ask {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  height: 70px;
  font-size: 2rem;
  border-radius: 3px;
  /* border: 3px solid rgb(236, 139, 156); */
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 2px solid blue;
}
.ask p {
  border-radius: 3px;
}

.ask a:hover {
  color: black;
}
.home-page-tags {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
.home-page-tags p {
  background: rgb(88, 85, 85);
  border-radius: 3px;
  font-size: 0.8rem;
  color: #fff;
  padding: 7px 10px;
}

/* Fullpost page */

#toggleAnswer {
  background: none;
  color: black;
  border: none;
  outline: none;
}

.container3 {
  display: flex;
  height: 100%;
}

.wrapperDiv2 {
  padding: 10px;
  width: 65%;
  margin-left: 50px;
  margin-right: 40px;
}
.wrapperDiv2 .Fullpost {
  margin-top: 30px;
  border-radius: 10px;
  border-radius: 5px;
  height: auto;
  width: 100%;
}
.wrapperDiv2 .Fullpost h2 {
  /* text-align: left !important; */
  margin-left: 0;
}
.wrapperDiv2 p {
  text-align: left;
}
.wrapperDiv2 .fullpost-group {
  /* padding: 10px; */
}
.wrapperDiv2 .flex {
  display: flex;
  justify-content: start;
}
.wrapperDiv2 .flex p {
  margin-right: 20px;
}
#editor {
  height: 300px;
  width: 80%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  overflow: scroll;
}
#editor img {
  height: 200px;
  width: 300px;
}

.add-answer {
  background-color: aliceblue;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
#toolbar {
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  background-color: rgb(233, 230, 230);
  border-radius: 2px;
  border: 1px solid black;
}
#toolbar button {
  font-size: 1rem;
}

@media (max-width: 1285px) {
  .wrapperDiv2 {
    margin-left: 30px !important;
    margin-right: 20px !important;
  }
}
@media (max-width: 964px) {
  .wrapper4 {
    display: none !important;
  }
  .wrapperDiv2 {
    width: 90% !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
}

@media (max-width: 500px) {
  .postAuth form {
    margin-top: 0px !important;
  }

  .wrapperDiv2 {
    width: 90%;
    margin: 0;
    margin: auto;
  }
  .wrapperDiv2 h2 {
    font-size: 20px;
  }
  .postAuth #editor,
  #toolbar,
  input,
  select {
    width: 100% !important;
  }
  .fullpost-info {
    font-size: 12px;
  }

  #editor {
    width: 100%;
  }

  .ex {
    margin-top: 30px;
  }

  .container3 {
    margin-top: 30px !important;
  }
}
